<table border = 0 cellpadding = 5 cellspacing = 2> 
  <img src="backgroung-pic.png" width="" height="">
  
  <tr style align="left">
    <th width = 30%>
      Historické počasie mesto: 
    </th>

    <th width = 50%>
       
        <app-read></app-read>

    </th>
    <th width = 20%>
     
    </th>
  </tr>  

  <tr style align="left">
    <th>
      <h1> {{name}} </h1>
    </th>

    <th>
      <p> Zvoleny dátum :  </p>
      <p>{{day}}.{{month}}.{{year}}</p>
    </th>
    
    <th>
      <p> Vlhkosť : {{hum}} </p>
      <p> Teplota : {{temp}}</p>
    </th>
  </tr>

  <tr></tr>
</table>